# pantheon-sitehealth-emails script stuff
/pantheon-sitehealth-emails.toml
/pantheon-sitehealth-emails-config
/local.toml
/database.db
/site_results.json
/fqdns.json
/news/*.toml
/build/
/tmp/
*.csv

# Editor backup and temporary files
.*.swp
*~

# macOS stuff
.DS_Store
/.idea/

# Logs
logs/
*.log

# Python stuff
/venv/
/pantheon_sitehealth_emails.egg-info/
**/__pycache__/
*.pyc

# PHP stuff
/vendor/
# don't commit composer.lock since different people may be using
# different versions of PHP, which in turn cause differences in
# composer package dependencies
composer.lock

# dotenv environment variables files
.env*
